@import url();

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;

}
.calculator{
    position: relative;
    display: grid;

}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    padding: 10px;
    font-size: 18px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: rgba(255, 255, 255, 0.842);
    background: pink;
    place-items: center;
    border: 1px solid rgba(0, 0 , 0, .1);
    color: black;
}

.calculator span.clear{
    grid-column: span 2;
    width: 120px;
}
.calculator span.plus{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background: red;
}